*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 600px;
    background-image: url(/image/pexels-leonardho-1552242.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    img{
        width: 50px;
        height: 50px;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        display: flex;
        align-items: center;
    }
}
nav .menu{
    display: flex;
    list-style: none;
    margin-right: 20px;
    
    a{
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
    }
}
.bod{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotes{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    line-height: 2em;
    margin-top: 40px;
    h1{
        font-weight: bold;
        font-size: 32px;
        padding: 20px;
    }
    h2{
        font-weight: bold;
        color: lightgoldenrodyellow;
        font-size: 32px;
        padding: 20px;
        margin-top: 10px;
    }
}
.quote::before {
    content: open-quote;
    color: whitesmoke;
    font-size: 4rem;
    margin-right: 5px;
}
.quote::after {
    content: close-quote;
    color: whitesmoke;
    font-size: 4rem;
    margin-right: 5px;
}
.reg{
    margin-top: 40px;
    button{
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #E6E6FA;
        font-size: 16px;
    }
}
.wrk{
    display: flex;
    width: 100%;
    a{
        text-decoration: none;
        color: whitesmoke ;
        width: 300px;
        height: 200px;
    }
}
hr{
    width: 160px;
    color: #E6E6FA;
}
.arms-wrk{
    padding: 10px;
    background-image: url(/image/pexels-tima-miroshnichenko-5327483.jpg);
    background-size: cover;
}
.legs-wrk{
    padding: 10px;
    background-image:url(/image/pexels-scottwebb-136404.jpg) ;
    background-size: cover;
    display: grid;  
}
.hip-wrk{
    padding: 10px;
    background-image: url(/image/pexels-olly-4807549.jpg) ;
    background-size: cover;
}
.core-wrk{
    padding: 10px;
    background-image:url(/image/pexels-ketut-subiyanto-4720537.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-wrk{
    padding: 10px;
    background-image: url(/image/pexels-ketut-subiyanto-4804333.jpg);
    background-size: cover;
}
.wrks{
    padding: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about{
    padding: 30px;
}
.about-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
        padding: 30px;
        text-align: center;
    }
    a button{
        padding: 15px;
        border: none;
        background-color: #E6E6FA;
        border-radius: 5px;
    }
}
.reg-plans{
    background-color: whitesmoke;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
}
.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 6px 4px darkgrey;
    ul{
        padding: 20px;
        line-height: 1.5rem;
    }
    a button{
        padding: 10px;
        border: none;
        background-color: #E6E6FA;
        border-radius: 5px;
    }
}
.head{
    font-weight: bold;
    text-align: center;
    padding: 20px;
    line-height: 2rem;
    min-width: 200px;
    background-image: url(/image/images\ \(1\).jpg);
    h3{
        font-size: 24px;
    }
}
.testy{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testy-head{
    font-size: 26px;
    padding: 10px;
    margin: 5px;
}
.dets{
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.userdets{
    font-size: 18px;
}
.userinfo{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.userimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.scroll-box{
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    .dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }
}
.dot:hover{
    background-color: #555;
}