*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 600px;
    background-image: url(/image/pexels-leonardho-1552242.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    img{
        width: 50px;
        height: 50px;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        display: flex;
        align-items: center;
    }
}
nav .menu{
    display: flex;
    list-style: none;
    margin-right: 20px;
    
    a{
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
    }
}
.bod{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotes{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    line-height: 2em;
    margin-top: 40px;
    h1{
        font-weight: bold;
        font-size: 32px;
        padding: 20px;
    }
    h2{
        font-weight: bold;
        color: lightgoldenrodyellow;
        font-size: 32px;
        padding: 20px;
        margin-top: 10px;
    }
}
.quote::before {
    content: open-quote;
    color: whitesmoke;
    font-size: 4rem;
    margin-right: 5px;
}
.quote::after {
    content: close-quote;
    color: whitesmoke;
    font-size: 4rem;
    margin-right: 5px;
}
.reg{
    margin-top: 40px;
    button{
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #E6E6FA;
        font-size: 16px;
    }
}
.wrk{
    display: flex;
    width: 100%;
    a{
        text-decoration: none;
        color: whitesmoke ;
        width: 300px;
        height: 200px;
    }
}
hr{
    width: 160px;
    color: #E6E6FA;
}
.arms-wrk{
    padding: 10px;
    background-image: url(/image/pexels-tima-miroshnichenko-5327483.jpg);
    background-size: cover;
}
.legs-wrk{
    padding: 10px;
    background-image:url(/image/pexels-scottwebb-136404.jpg) ;
    background-size: cover;
    display: grid;  
}
.hip-wrk{
    padding: 10px;
    background-image: url(/image/pexels-olly-4807549.jpg) ;
    background-size: cover;
}
.core-wrk{
    padding: 10px;
    background-image:url(/image/pexels-ketut-subiyanto-4720537.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-wrk{
    padding: 10px;
    background-image: url(/image/pexels-ketut-subiyanto-4804333.jpg);
    background-size: cover;
}
.wrks{
    padding: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
        padding: 30px;
        text-align: center;
    }
}